escalebetega.com, www.escalebetega.com {
    reverse_proxy escale_nginx:80

    encode gzip

    header {
        X-Frame-Options "SAMEORIGIN"
        X-Content-Type-Options "nosniff"
        Referrer-Policy "strict-origin-when-cross-origin"
    }
}
